.form-container {
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

body {
    background-color: rgb(250, 253, 253);
}

.row.fade.visible.transition {
    margin-bottom: 1.5rem;
}

.ui.card {
    width: 100%;
    border-radius: 7.5px;
    /*margin-top: 2rem;
    background-color: white;*/
}

.ui.one.column.grid {
    margin: auto;
    width: 75%;
}

.createPostFormInput {
    width: 100%
}

.ui.violet.button:focus, .ui.violet.buttons .buttons:focus{
    background-color: #6435c9
}